<div class="center height:100vh">
  <div class="stack">
    <div class="cluster">
      <div>
        <h1>People</h1>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <td>Name</td>
        </tr>
      </thead>
      <tbody>
        <% if @people.present? %>
          <%= render @people %>
        <% else %>
          <%= render "empty" %>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Go to Comments UI', user_comments_comments_path %>
    <div></div>
  </div>


</div>
